**/*.iml
**/.DS_Store
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/.vscode
**/.web_bundle_build
**/bin
**/bin-service
**/build
**/build_gradle
**/classes
**/node_modules
**/out
**/target
**/test-coverage
**/tmp
.gradle
.idea
/bundles
gradle-local.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
liferay-workspace.iml
test-results
