apply plugin: 'war'

// Is preferrable to use workspace NodeJS e NPM versions. Use following properties to change it
//node.nodeVersion = "10.15.1"
//node.npmVersion = "6.4.1"

// Gradle build depends on javascript tools

war.dependsOn gulpBuild

// Distributions. We have to adjust something to allow war to be considered

jar.archiveExtension.set('war');

task packageForDist(type: Copy, dependsOn: war) {
	def warVersion = project.property('version')

	from file("dist/${project.name}.war")
	into "build_gradle/libs"
	rename { "${project.name}-${warVersion}.war" }

	//println "DBG terget ${project.name}-${warVersion}.war"
}
