.calendar-url-entry {
	margin-bottom: 15px;
	padding: 5px;
}

.entry-url {
	//	border: 1px solid #DDD;
	color: #8D8D8D;
	display: block;
	font-family: monospace;
	padding: 4px 2px;
}

.calendar-list-item-color {
	border: 1px solid #DCDCDC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	position: relative;
	top: 2px;
	width: 11px;
}